/.vs/HttpClientCurlVisualizer
/HttpClientCurlVisualizer/bin/Debug
/HttpClientCurlVisualizer/.vs
/HttpClientCurlVisualizer/obj/project.nuget.cache
/HttpClientCurlVisualizer/obj/project.assets.json
/HttpClientCurlVisualizer/obj/HttpClientCurlVisualizer.csproj.nuget.dgspec.json
/HttpClientCurlVisualizer/obj/Debug
/HttpClientCurlVisualizer/bin/Release
/HttpClientCurlVisualizer/obj/Release
